$ut=Utilities
$d=[$ut]
bindd = $mainMod Alt, F7, $d notebook profile battery, exec, notebook-profile battery
bindd = $mainMod Alt, F8, $d notebook profile ac, exec, notebook-profile ac
bindd = $mainMod Alt, F9, $d notebook profile ac external, exec, notebook-profile ac-external
bindd = $mainMod Alt, F10, $d notebook profile status, exec, notebook-profile show-status
